h1 {
  padding: 20px;
  margin-left: 12px;
  font-family: Helvetica, arial, sans-serif;
  font-weight: bold;
}

.mainText {
  margin-left: 32px;
  margin-right: 32px;
  font-family: Helvetica, arial, sans-serif;
}

h5, h2, h4 {
  font-family: Helvetica, arial, sans-serif;
}
h4 {
  text-decoration: underline;
}

h5 {
  font-weight: bold;
}

#fields {
  margin-left: 32px;
  margin-right: 32px;
}

.color-nav {
  background-color: rgb(47, 61, 83);
}

.footer-link-color {
  color: rgb(47, 61, 83);
}



